.container {
    max-width: 1024px;
    margin: auto;
}

.profile__photo {
    float: right;
}

.profile__name {
    float: left;
}

.profile__photo img {
    width: 30%;
}

.clearfix {
    clear: right;
  }